#header {
    height: 75px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 24px 3px rgba(194,186,194,0.44);
    -moz-box-shadow: 0px 4px 24px 3px rgba(194,186,194,0.44);
    box-shadow: 0px 4px 24px 3px rgba(194,186,194,0.44)
}

a {
    text-decoration: none;
    color: #45f3ff;
}

a:hover {
    text-decoration: none;
    color: #0293b1;
}

.logo {
    top: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#headerBar {
    display: flex;
    margin-top: -20px;
    height: 30px;
}

#emptyBar {
    width: 100%;
    height: 30px;
}

#headerMsg {
    text-align: center;
    max-width: 420px;
    min-width: 420px;
    background-color: #000000;
    color: #ffffff;
    line-height: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.glyphicon-heart {
    color: red;
}

.container {
    margin-top: 40px;
}

h3 {
    text-align: center;
}

#submitContainer,
#addressContainer {
    width: 50%;
    margin: auto;
    text-align: center;
}

#captcha {
    margin: auto;
    width: 304px;
}

.hidden {
    display: none;
}
